.Rproj.user
.Rhistory
.RData
.Ruserdata
pdfs
Arnold Foundation Proposal
misc_docs
Project_Description.log
PostdocPlan.log
references.bib
Biosketch.log
Budget_Justification.log
Collaborators.log
DMP.log
Facilities.log
Suggested_Reviewers.log
Summary.log
